spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tete?useSSL=false&serverTimezone=UTC
    username: efub
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
